*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --purple-400: rgba(212, 77, 243, 0.852);
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgba(98, 0, 238, 0.05);
}
h1 {
  color: #8769fc;
}
.container {
  max-width: 1440px;
  width: calc(100% - 24px);
  margin: auto;
}

.spacer {
  margin-top: 16px;
}
